@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<textarea  id="Content" ></textarea>
@{
     var SummerNote = new App.Models.Summernote("Content", true, 500);

}
<a asp-action="LoginGoogle" asp-controller="Home">Login</a>
<ul>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li>Hello @User.Identity.Name</li>
        <li>
            <a asp-action="Logout" asp-controller="Home">Logout</a>
        </li>
    }
</ul>
<partial name="_Summernote" model="SummerNote" />