@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<textarea  id="Content" ></textarea>
@{
     var SummerNote = new App.Models.Summernote("Content", true, 500);

}
<partial name="_Summernote" model="SummerNote" />